@model ResultViewModel

<div class="alert alert-@(Model.IsSuccess ? "success" : "danger")" role="alert">
    @Model.Message
</div>

@if (Model.IsSuccess)
{
    <script type="text/javascript">
        document.getElementById("login-form").reset();
    </script>
}