body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* nav login/sign up section*/

header {
    height: 60px;
    border-bottom: 1px black solid;
}

header > div {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.nav-auth {
    width: 13%;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 10px;
}

.login-form {
    width: 30%;
    margin: 0 auto;
}

    .login-form .controls {
        text-align: center;
    }

    .content-auth-body {
        margin-top: 2%;
    }

#ajax-result {
    margin-top: 15px;
    text-align: center;
}