@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<h1>Welcome to AirFlow, @User.Identity.Name !</h1>

@{ Html.RenderPartial("~/Views/Partials/Auth/_Logout.cshtml"); }

@RenderBody()