@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "LoginBase.cshtml";
}

@* the fun starts here *@

@if (Umbraco.MemberIsLoggedOn())
{
    <h1>Welcome, @User.Identity.Name</h1>
    { Html.RenderPartial("~/Views/Partials/Auth/_Logout.cshtml"); }
}
else
{
    <h1>Login</h1>
    { Html.RenderPartial("~/Views/Partials/Auth/_Login.cshtml", new UserLoginViewModel()); }
}